# AWS / credentials
.aws/
*.pem
*.key
credentials
config

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Editors / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
